*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/*
signing.properties
*.keystore
问题.txt
.trae/
terminal-provider/release/*
feature-ssh/release/*
feature-share/release/*
core-model/build/*
core-api/build/*
core-security/build/*
data/build/*
feature-ssh/build/*
feature-share/build/*
build-logic/build/*
feature-model/build/*
feature-tool/build/*
markdown/build/*
ui-theme/build/*